.header-config {
    background-image: linear-gradient(to bottom, rgba(0, 47, 108, 1), rgba(0, 123, 255, 0.5));
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    margin-bottom: 8px;
}

.nav-link:hover {
    background-color: rgba(0, 47, 108, 1) !important;
    color: white;
}

.short-field {
    max-width: 400px !important;
}
body {
    background-color: rgb(200,200,200);
}

.main-content {
    background-image: radial-gradient(rgba(0, 123, 255, 1), rgba(0, 47, 108, 0.8));
}

.main-content:hover {
    background-image: radial-gradient(rgba(0, 123, 255, 1), rgba(0, 47, 108, 1));
}

.main-border-fix {
    border-top: solid 4px rgb(200,200,200);
    border-bottom: solid 4px rgb(200,200,200);
}

.side-content {
    background-image: radial-gradient(rgba(0, 0, 0, 1), rgba(77, 20, 140, 1), rgba(0, 0, 0, 1));
}
.content-border {
    border: solid 4px rgb(200,200,200);
}

.footer-config {
    background-image: linear-gradient(to bottom right, rgb(77, 20, 140), rgb(153, 153, 153));
    height: auto;
    min-height: 132px;
}

.footer-img-container {
    max-width: 100px;
}

.footer-img-config {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.minimum-image-size {
    min-width: 60px !important;
    min-height: 60px !important;
}

.footer-info-text {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(0, -50%);
}

.sale-menu-container {
    height: 400px;
    width: 111px;
    background-color:rgba(0, 123, 255, 1);
    color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 85px;
}
.sale-menu-link:link {
    color: white;
}
.sale-menu-link:visited {
    color:whitesmoke;
}
.sale-item-container {
    width: calc(100% - 111px);
}

.sale-image {
    height: 80px;
    width: 80px;
    max-width: 80px;
}

.return-link-container {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.sale-image:hover {
    height: 120px;
    width: 120px;
    max-width: 120px;
}

.return-link {
    color: white;
}

.return-link:hover {
    color: lawngreen;
}

.return-link:active {
    color: yellow;
}

@media (min-width: 576px) {
    .sale-image {
        height: 90px;
        width: 90px;
        max-width: 90px;
    }

    .sale-image:hover {
        height: 135px;
        width: 135px;
        max-width: 135px;
    }
}

@media (min-width: 767px) {
    .sale-image {
        height: 140px;
        width: 140px;
        max-width: 140px;
    }

    .sale-image:hover {
        height: 200px;
        width: 200px;
        max-width: 200px;
    }
}

@media (min-width: 992px) {
    .sale-image {
        height: 90px;
        width: 90px;
        max-width: 90px;
    }

    .sale-image:hover {
        height: 135px;
        width: 135px;
        max-width: 135px;
    }
}

@media (min-width: 1200px) {
    .sale-image {
        height: 100px;
        width: 100px;
        max-width: 100px;
    }

    .sale-image:hover {
        height: 150px;
        width: 150px;
        max-width: 150px;
    }
}

@media (max-width: 767.98px) {

    .main-content-container,
    .side-content-container {
        font-size: 0.9rem;
    }

    .footer-info-text {
        font-size: smaller;
    }
}

@media (max-width: 441px) {
    a.nav-link {
        height: 100%;
        font-size: 0.9rem;
    }

    .header-config {
        font-size: 1.1rem;
        min-height: 30px;
        line-height: 30px;
    }

    .footer-info-text {
        flex: 1 1 50%;
    }
}