.header-config {
    background-image: linear-gradient(to bottom, rgba(0, 47, 108, 1), rgba(0, 123, 255, 0.5));
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    margin-bottom: 8px;
}

.nav-link:hover {
    background-color: rgba(0, 47, 108, 1) !important;
    color: white;
}

body {
    background-color: rgb(200,200,200);
}

.main-content {
    background-image: radial-gradient(rgba(0, 123, 255, 1), rgba(0, 47, 108, 0.8));
    border: solid 4px rgb(200,200,200);
}

.main-content:hover {
    background-image: radial-gradient(rgba(0, 123, 255, 1), rgba(0, 47, 108, 1));
}

.main-border-fix {
    border-top: solid 4px rgb(200,200,200);
    border-bottom: solid 4px rgb(200,200,200);
}

.side-content {
    background-image: radial-gradient(rgba(0, 0, 0, 1), rgba(77, 20, 140, 1), rgba(0, 0, 0, 1));
    border: solid 4px rgb(200,200,200);
}

.footer-config {
    background-image: linear-gradient(to bottom right, rgb(77, 20, 140), rgb(153, 153, 153));
    height: auto;
    min-height: 132px;
}

.footer-img-container {
    max-width: 100px;
}

.footer-img-config {
    min-height: 60px !important;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.footer-img-width {
    min-width: 60px !important;
}

.footer-info-text {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 767.98px) {

    .main-content-container,
    .side-content-container {
        font-size: 0.9rem;
    }

    .footer-info-text {
        font-size: smaller;
    }
}

@media (max-width: 441px) {
    a.nav-link {
        height: 100%;
        font-size: 0.9rem;
    }

    .header-config {
        font-size: 17.5px;
        min-height: 30px;
        line-height: 30px;
    }

    .footer-info-text {
        flex: 1 1 50%;
    }
}